<div class="team-5 section-image" style="background-image: url('assets/img/bg9.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">The Executive Team 5</h2>
                <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="assets/img/olivia.jpg" />
                        </a>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title">Natalie Paisley</h3>
                        <h6 class="category text-primary">Credit Analyst</h6>
                        <p class="card-description">
                            Very little is needed to make a happy life; it is all within yourself, in your way of thinking...
                        </p>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-linkedin"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="assets/img/james.jpg" />
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Anthony Jackson</h4>
                        <h6 class="category text-primary">Desktop Publisher</h6>

                        <p class="card-description">
                            Let us be grateful to people who make us happy, they are the charming gardeners who make our souls blossom...
                        </p>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-dribbble"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="assets/img/emily.jpg" />
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Bella Audrey</h4>
                        <h6 class="category text-primary">Economist</h6>

                        <p class="card-description">
                            For it was not into my ear you whispered, but into my heart. It was not my lips you kissed, but my soul...
                        </p>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-dribbble"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-round"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
