<div class="page-header page-header-small">


    <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg44.jpg') ;">
    </div>



    <div class="content-center">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-center">
				<h2 class="title">A Place for Entrepreneurs to Share and Discover New Stories</h2>
                <a href="#button" class="btn btn-primary btn-round  btn-icon" >
               <i class="fa fa-twitter"></i>
            </a>
            <a href="#button" class="btn btn-primary btn-round  btn-icon">
               <i class="fa fa-instagram"></i>
           </a>
			</div>
		</div>
	</div>


</div>
