<footer class="footer footer-white footer-big">
	<div class="container">

		<div class="content">
			<div class="row">

				<div class="col-md-3">
					<a href="#pablo"><h5>AMICIZIA</h5></a>
					<p> we made this possible to give the world the best out of best for the future.
						our sole aim is to be the best beyond the frame.</p>
				</div>
				<div class="col-md-2">
					<h5>About</h5>
					<ul class="links-vertical">
						<li>
							<a href="#pablo">
							   Blog
							</a>
						</li>
						<li>
							<a href="#pablo">
							   About Us
							</a>
						</li>
						<li>
							<a href="#pablo">
								Contact Us
							</a>
						</li>
						<li>
							<a href="#pablo">
								Careers
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h5>Shop</h5>
					<ul class="links-vertical">
						<li>
							<a href="#pablo">
							   All products
							</a>
						</li>
						<li>
							<a href="#pablo">
								cart
							</a>
						</li>
						<li>
							<a href="#pablo">
							   Hot deal
							</a>
						</li>
						<li>
							<a href="#pablo">
								Payment Methods
							</a>
						</li>
					</ul>
				</div>

				<div class="col-md-2">
					<h5>Our Company</h5>
					<ul class="links-vertical">
						<li>
							<a href="#pablo">
							   story about us
							</a>
						</li>
						<li>
							<a href="#pablo">
								Our team
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Subscribe to Newsletter</h5>
					<p>
						Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
					</p>
					<form class="form form-newsletter" method="" action="">
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Your Email...">
						</div>

						<button type="button" class="btn btn-primary btn-icon btn-round" name="button">
							<i class="now-ui-icons ui-1_email-85"></i>
						</button>
					</form>
				</div>

			</div>
		</div>

		<hr />

		<ul class="social-buttons">
			<li>
				<a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-lg">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-lg">
					<i class="fa fa-facebook-square"></i>
				</a>
			</li>
			<li>
				<a href="#pablo" class="btn btn-icon btn-neutral btn-dribbble btn-lg">
					<i class="fa fa-dribbble"></i>
				</a>
			</li>
			<li>
				<a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-lg">
					<i class="fa fa-google-plus"></i>
				</a>
			</li>
			<li>
				<a href="#pablo" class="btn btn-icon btn-neutral btn-youtube btn-lg">
					<i class="fa fa-youtube-play"></i>
				</a>
			</li>
		</ul>

		<div class="container">
			Copyright &copy; <script>document.write(new Date().getFullYear())</script> SGS SRI LANKA All Rights Reserved.
		</div>
	</div>
</footer>